body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  color: #ffffff;
  font-family: 'Quicksand';
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.header {
  background-color: #16151b;
  background: url("../img/main.jpg") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.header-nav {
  padding-top: 22px;
  margin-bottom: 50px;
}

.header-nav_menu ul {
  list-style: none;
}

.header-nav_menu li {
  display: inline;
  margin-left: 20px;
}

.header-nav_menu li:hover {
  position: relative;
}

.header-nav_menu li:hover::before {
  content: '';
  display: inline;
  position: absolute;
  width: 42px;
  height: 2px;
  background: url("../img/stripe.png");
  margin-top: 30px;
  text-align: center;
  left: 50%;
  margin-left: -21px;
}

.header-nav_menu a {
  color: #fffefe;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.main-text_title {
  margin-top: 13px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
}

.main-text_colon {
  font-family: 'Source Sans Pro';
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

.main-text_descr {
  font-size: 18px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 60px;
  line-height: 30px;
}

.main-text-picture {
  text-align: center;
  margin-left: 50px;
}

.features-title_colon {
  display: block;
  font-family: 'Source Sans Pro';
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.features {
  padding-top: 65px;
  padding-bottom: 75px;
}

.features-title {
  text-align: center;
}

.features-title_h2 {
  font-size: 34px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 111px;
  position: relative;
}

.features-title_h2::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 2px;
  background: url("../img/stripe.png");
  margin-top: 85px;
  -webkit-transform: translate(-212px, -50%);
  transform: translate(-212px, -50%);
}

.feature-block_descr {
  font-size: 17px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 60px;
  line-height: 27px;
}

.feature-block {
  text-align: center;
  z-index: 1;
}

.feature-block_title {
  font-family: 'Source Sans Pro';
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
}

.feature-block_img {
  position: relative;
  width: 88px;
  height: 88px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.feature-block_img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
  background: transparent;
  border-radius: 50%;
  left: 50%;
  margin-left: -44px;
  z-index: -1;
}

.feature-block_img img {
  display: block;
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn {
  color: #ffffff;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  background: transparent;
  width: 160px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  margin-right: 17px;
  outline: none;
  cursor: pointer;
}

.btn-blue {
  background-color: #008ed6;
}

.details {
  border-top: 1px solid #ededed;
  padding-top: 66px;
  padding-bottom: 19px;
}

.details-features {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  position: relative;
}

.details-features_text {
  margin-left: 23px;
}

.details-features::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 124%;
  background: url("../img/details/icons.png") no-repeat;
  margin-top: 9px;
  margin-right: 10px;
}

.details-text {
  margin-top: 53px;
  margin-left: 120px;
}

.details-text_colon {
  display: block;
  font-family: 'Source Sans Pro';
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.details-text_title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 50px;
}

.details-text_title::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 2px;
  background: url("../img/stripe.png");
  margin-top: 70px;
  -webkit-transform: translate(-396px, -50%);
  transform: translate(-396px, -50%);
}

.details-text_descr {
  font-size: 17px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 27px;
}

.customize {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}

.customize-img {
  margin-bottom: 10px;
  margin-right: 50px;
}

.customize-text {
  margin-top: 70px;
}

.customize-text_colon {
  display: block;
  font-family: 'Source Sans Pro';
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.customize-text_title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 50px;
}

.customize-text_title::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 2px;
  background: url("../img/stripe.png");
  margin-top: 70px;
  -webkit-transform: translate(-384px, -50%);
  transform: translate(-384px, -50%);
}

.customize-text_descr {
  font-size: 17px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 27px;
}

.feedback {
  padding-top: 62px;
  background: url("../img/feedback/back.jpg") center no-repeat;
  background-size: cover;
}

.feedback-btns {
  display: inline;
  margin-left: 155px;
}

.feedback-footer {
  background-color: #15141a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.feedback-footer_text {
  color: #fff;
  display: inline-block;
}

.feedback-footer_text p {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 32px;
}

.feedback-footer_text span {
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 400;
}

.feedback-slider {
  width: 1120px;
  height: 326px;
}

.feedback-colon {
  display: block;
  font-family: 'Source Sans Pro';
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-align: center;
}

.feedback-title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 125px;
  text-align: center;
  color: #fff;
}

.feedback-title::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 2px;
  background: url("../img/stripe.png");
  margin-top: 70px;
  -webkit-transform: translate(-145px, -50%);
  transform: translate(-145px, -50%);
}

.feed {
  color: #fff;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 26px;
  text-align: justify;
}

.slide {
  margin-right: 40px;
  outline: none;
}

.person p {
  margin-top: 5px;
  margin-left: 85px;
  color: #fff;
  font-family: "Source Sans Pro";
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 14px;
}

.person span {
  margin-top: 5px;
  margin-left: 27px;
  color: #fff;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 15px;
}

.person img {
  float: left;
}

.pricing {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pricing-title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.pricing-title::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 2px;
  background: url("../img/stripe.png");
  margin-top: 70px;
  -webkit-transform: translate(-145px, -50%);
  transform: translate(-145px, -50%);
}

.pricing-title_colon {
  display: block;
  font-family: 'Source Sans Pro';
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-align: center;
}

.price {
  font-size: 48px;
  font-weight: 600;
}

.price sup {
  font-family: "Source Sans Pro";
  font-size: 28px;
  font-weight: 600;
}

.price-descr {
  font-family: "Source Sans Pro";
  font-weight: 400;
  color: #999999;
  font-size: 18px;
}

.price-block {
  text-align: center;
}

.price-block_title {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #e0e0e0;
  padding-top: 29px;
  padding-bottom: 25px;
}

.price-block_cost {
  border: 1px solid #e0e0e0;
  border-top: transparent;
  padding-top: 33px;
  padding-bottom: 35px;
}

.price-block_cost:hover {
  color: #fff;
  background-color: #008ed6;
}

.price-block_cost:hover .price-descr {
  color: #fff;
}

.price-block_descr {
  font-size: 17px;
  color: #999999;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 27px;
  border: 1px solid #e0e0e0;
  border-top: transparent;
  padding-top: 52px;
  padding-bottom: 29px;
}

.price-block_btn {
  display: block;
  color: #008ed6;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  background: #fff;
  width: 160px;
  height: 50px;
  border: 1px solid #e0e0e0;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 44px;
  outline: none;
  cursor: pointer;
}

.price-block_btn:hover {
  background-color: #008ed6;
  color: #fff;
}

.blue {
  color: #008ed6;
}

.contacts {
  text-align: center;
  background-color: #ededed;
  padding-top: 60px;
  padding-bottom: 300px;
  position: relative;
}

.contacts-descr {
  font-size: 17px;
  color: #999999;
  font-weight: 400;
  line-height: 27px;
  margin-top: 30px;
  margin-bottom: 73px;
}

.contacts-colon {
  display: block;
  font-family: 'Source Sans Pro';
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-align: center;
}

.contacts-title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.contacts-title::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 2px;
  background: url("../img/stripe.png");
  margin-top: 70px;
  -webkit-transform: translate(-100px, -50%);
  transform: translate(-100px, -50%);
}

.form {
  width: 770px;
  height: 360px;
  background-color: #15141a;
  padding-top: 60px;
  padding-bottom: 40px;
  position: absolute;
  padding-right: 85px;
  left: 50%;
  margin-left: -385px;
  z-index: 1;
}

.form-btn {
  color: #fff;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  background-color: #008ed6;
  width: 160px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  margin-left: 525px;
  outline: none;
  cursor: pointer;
}

.form input {
  display: block;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #15141a;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-right: 15px;
  margin-left: 66px;
  caret-color: #fff;
  outline: none;
}

#message {
  width: 300px;
  height: 190px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  position: absolute;
  top: 60px;
  left: 320px;
}

.map {
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #15141a;
  padding-top: 57px;
  padding-bottom: 45px;
  text-align: center;
}

.footer .icons {
  text-align: center;
}

.footer .icons img {
  margin-left: 15px;
  margin-right: 15px;
}

.copyright {
  font-family: "Source Sans Pro";
  color: #444348;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 48px;
}

.adaptive {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .customize-text_title::after{
    transform: translate(-212px, -50%);
  }
  .btn {
    display: inline;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .logo {
    text-align: center;
    font-size: 30px;
  }

  .header-nav_menu {
    margin: 0 auto;
  }

  .header-nav_menu ul li {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
    font-size: 28px;
    margin-right: 34px;
    text-transform: uppercase;
  }

  .header-nav_menu ul li:hover::before {
    margin-top: 38px;
  }

  .main-text {
    text-align: center;
  }

  .main-text_colon {
    text-align: center;
  }

  .main-text_title {
    text-align: center;
    font-size: 40px;
  }

  .main-text_descr {
    text-align: center;
    margin-bottom: 20px;
  }

  .main-picture {
    display: none;
  }

  .features-title_h2::after {
    left: 50%;
    margin-left: -21px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .details-text_title::after {
    left: 50%;
    margin-left: -21px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .details-features::before {
    display: none;
  }

  .details-features_text {
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
  }

  .details-text {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .details-text_colon {
    text-align: center;
  }

  .details-device img {
    max-width: 100%;
    height: auto;
  }

  .customize-text {
    text-align: center;
    margin-top: 15px;
  }

  .feedback-title {
    margin-bottom: 50px;
  }

  .feedback-footer {
    text-align: center;
  }

  .feedback-btns {
    margin: 0;
  }

  .slick-slide {
    margin: 10px;
  }

  .price-block_btn {
    background-color: #008ed6;
    color: #fff;
  }

  .price-block_cost {
    color: #fff;
    background-color: #008ed6;
  }

  .price-descr {
    color: #fff;
  }

  .contacts {
    padding-bottom: 0;
  }

  .form {
    margin: 0;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-btn {
    margin: 0;
  }

  .form input {
    top: 50%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    vertical-align: middle;
  }

  #message {
    position: static;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
    vertical-align: middle;
  }
}

@media (max-width: 768px) {
  .customize-text {
    margin-top: 20px;
  }

  .details-text {
    margin: 0;
    text-align: left;
  }

  .feedback-footer_text {
    text-align: center;
  }

  .main-text {
    text-align: center;
  }

  .main-picture {
    margin-top: 40px;
    text-align: center;
  }
}

@media (max-width: 1300px) {
  .feedback-footer {
    text-align: center;
  }

  .feedback-btns {
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .feedback-footer_text {
    margin: 0 auto;
  }
}
